@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

table {
    width: 90%;
    height: auto;
}
 button {
    background-color: blue;
    color: white;
 }

th {
    font-size: 1rem;
}